<div class="container">
  <div class="col-lg-10 col-sm-4">
    <h2>Apply Leave</h2>
    <hr>
    <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{errorMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <form #applyLeaveForm="ngForm" (ngSubmit)="applyLeave(leave)">

      <div class="form-group row" [class.has-error]="startDate.invalid && startDate.touched" [class.has-success]="startDate.valid">
        <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
        <div class="col-sm-10">
          <!-- <input type="text" (ngModelChange)="onStartDateChanged($event)" [ngModel]="leave.startDate" #startDate="ngModel" required name="startDate" class="form-control"
            placeholder=" dd/mm/yyyy " > -->
          <mat-form-field>
            <input readonly validateDate="startDate" matInput [matDatepicker]="startDatepicker" placeholder="MM/DD/YYYY" (ngModelChange)="onStartDateChanged($event)"
              [ngModel]="leave.startDate" #startDate="ngModel" required name="startDate">
            <mat-datepicker-toggle matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatepicker></mat-datepicker>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="startDate.errors?.required && startDate.touched">
            Start date is required
          </div>
          <div class="alert alert-danger" *ngIf="startDate.errors?.pattern && startDate.touched">
            Please enter a valid date
          </div>
          <div class="alert alert-danger" *ngIf="startDate.errors?.startDateInvalid && startDate.touched">
              Start date cannot't be past/today's date!
            </div>
        </div>

      </div>
      <div class="form-group row" [class.has-error]="endDate.invalid && endDate.touched" [class.has-success]="endDate.valid">
        <label for="endDate" class="col-sm-2 col-form-label">End Date</label>
        <div class="col-sm-10">
          <!-- <input type="text" (ngModelChange)="onEndDateChanged($event)" [ngModel]="leave.endDate" #endDate="ngModel" required name="endDate" class="form-control"
            placeholder=" dd/mm/yyyy " pattern="\d{1,2}/\d{1,2}/\d{4}"> -->
          <mat-form-field>
            <input readonly matInput [matDatepicker]="endDatepicker" placeholder="MM/DD/YYYY" (ngModelChange)="onEndDateChanged($event)"
              [ngModel]="leave.endDate" #endDate="ngModel" required name="endDate">
            <mat-datepicker-toggle matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatepicker></mat-datepicker>
          </mat-form-field>
          <div class="alert alert-danger" *ngIf="endDate.errors?.required && endDate.touched">
            End date is required
          </div>
          <div class="alert alert-danger" *ngIf="endDate.errors?.pattern && endDate.touched">
            Please enter a valid date
          </div>
        </div>

      </div>
      <div class="form-group row" [class.has-error]="days.invalid && days.touched" [class.has-success]="days.valid">
        <label for="days" class="col-sm-2 col-form-label">Number of days</label>
        <div class="col-sm-10 col-lg-3">
          <input type="text" [(ngModel)]="leave.days" #days="ngModel" required name="days" class="form-control"
            placeholder="" pattern="\d*" maxlength="2">
          <div class="alert alert-danger" *ngIf="days.errors?.required && days.touched">
            No:of day(s) is required
          </div>
          <div class="alert alert-danger" *ngIf="days.errors?.pattern && days.touched">
            Please enter a number
          </div>
        </div>

      </div>
      <div class="form-group row">
        <label for="leaveType" class="col-sm-2 col-form-label">Leave Type</label>
        <div class="col-sm-10  col-lg-3">
          <select class="custom-select form-control" name="leaveType" #leaveType="ngModel" [(ngModel)]="leave.leaveType">
            <option value="0" selected='true'>Earned Leave</option>
          </select>
        </div>

      </div>
      <div class="form-group row" [class.has-error]="leaveReason.invalid && leaveReason.touched" [class.has-success]="leaveReason.valid">
        <label for="leaveReason" class="col-sm-2 col-form-label">Leave Reason</label>
        <div class="col-sm-10  col-lg-4">
          <textarea type="text" class="form-control" name="leaveReason" #leaveReason="ngModel" [(ngModel)]="leave.leaveReason"
            aria-describedby="leaveReason" required placeholder="Leave Reason"></textarea>
          <div class="alert alert-danger" *ngIf="leaveReason.errors?.required && leaveReason.touched">
            Leave reason is required
          </div>
        </div>

      </div>
      <div class="row">
        <button class="btn btn-secondary mr5px" type="button">Cancel</button>
        <button class="btn btn-primary" type="submit" [disabled]="applyLeaveForm.invalid">Apply</button>
      </div>
    </form>
  </div>
</div>