<div class="mgr container mt-5">
  <h2>Manager Detail Section</h2>
  <div class="row">
    <div class="column">
      <p>Employee ID</p>
    </div>
    <div class="column">
      <p>: NNNNN</p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <p>Full Name</p>
    </div>
    <div class="column">
      <p>XXXX XXXX</p>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <p>Email</p>
    </div>
    <div class="column">
      <p>xxx.xxx@xxx.com </p>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <p>Mobile Number</p>
    </div>
    <div class="column">
      <p>+1 (000) 000-0000</p>
    </div>
  </div>
</div>