
<div class="container mt-5">
<div class="card w-75">
  <div class="card-body btn bg-info text-white">
    <h5 class="card-title" (click)="toMyDetails()">My Details Section</h5>
  </div>
</div>

<div class="card w-50">
  <div class="card-body btn bg-info text-white">
    <h5 class="card-title" (click)="toMyMgrDetails()">My Manger Details Section</h5>
  </div>
</div>
</div>

<div class="container mt-1">
  <div class="card w-100">
    <div class="card-body btn bg-info text-white">
      <h5 class="card-title" (click)="toMyLeave()">My Leave Applications Section</h5>
    </div>
  </div>
</div>

<div class="container mt-1">
  <div class="card w-100">
    <div class="card-body btn bg-info text-white">
      <h5 class="card-title" (click)="toReporteeLeave()">My Reporting Employee's Pending Leave Applications Section</h5>
    </div>
  </div>
</div>
